@media screen and (max-width: 768px) {
    body {
        background: url('../img/bg.JPG');
        background-size: 200%;
        background-position: bottom right;
        background-repeat: no-repeat;
    }
    .height-mobile {
        height: 70vh;;
    }
}

body {
    height: 100vh;
}

* {
    font-family: "ivymode", sans-serif;
}

a {
    color: black;
}

.btn {
    border: 1px black solid;
    border-radius: 0px;
}

h1 {
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
}

.container {
    margin: 0;
}

.reveal-options {
    display: flex;
    flex-direction: column;
}

.option-btn {
    min-width: 100%;
}

address {
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 5rem;
    }

    .height-desktop {
        min-height: 100vh;
    }
}